<a href="https://colab.research.google.com/github/Yesenia19/SQLAlchemy/blob/main/SQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQLAlchemy**
Importamos de la libreria SQLAlchemy, los tipos de base de datos, el formato de los campos, operaciones CRUD y los elementos de la base de datos.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import insert, select, update, delete

Indicamos la base de datos que ocuparemos y pasaremos parametros como el nombre del archivo donde se almacenara

In [2]:
engine = create_engine('sqlite:///prueba.db')

Definimos los campos de las tablas y tipos de datos

In [4]:
metadata = MetaData()

Creamos nuestra tabla y los tipos de datos que llevara cada campo

In [5]:
clientes =Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable=False),
    Column('email', String, nullable=False),
)

Creamos todas las base de datos

In [6]:
metadata.create_all(engine)

Mandamos e insertamos los datos en la tabla clientes

In [7]:
stmt = insert(clientes).values(nombre="Cliente 1", email="clientes@mail.com") 
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

Conectamos a la base de datos.


> With nos permite abrir la conexión y cerrarla automaticamente

In [8]:
with engine.connect() as conn:
    result = conn.execute(stmt)

Tambien podemos insertar varios clientes haciendo un arreglo

In [9]:
data =[
    {"nombre": "Cliente 2", "email": "email1@email.com"},
    {"nombre": "Cliente 3", "email": "email2@email.com"},
    {"nombre": "Cliente 4", "email": "email3@email.com"}
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

Conectamos a la base de datos.


> With nos permite abrir la conexión y cerrarla automaticamente

In [10]:
with engine.connect() as conn:
    result = conn.execute(stmt)

Hacemos una consulta para ver todos los registros de la tabla clientes

In [11]:
stmt =select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

Imprime los datos que anteriormente hicimos consulta y les damos forma

In [13]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(row)

(1, 'Cliente 1', 'clientes@mail.com')
(2, 'Cliente 2', 'email1@email.com')
(3, 'Cliente 3', 'email2@email.com')
(4, 'Cliente 4', 'email3@email.com')